<div class="container">
	<div class="menu">
		<a href="/posts">|  Home  |</a>
		<% if session[:id] ==  @post.user.id %>
<!-- 				<a href="/posts/new">  Edit Post  |</a> -->
<!-- 				<form action="/users/logout" method="post">
					<input type="submit" value="Log Out">
				</form> -->
				<a href="/users/logout">Log Out</a>
		<% else %>		
			<a href="/users/login">  Login  |</a>
			<a href="/users/new">  Register  |</a>	
		<% end %>		
	</div>
	<h2><%= @post.title %></h2>
<h4><%= @post.content %></h4>
	<form action="/posts/<%= @post.id %>/comments/create" method="POST">
		<h3>Comment</h3>
	<textarea type="text" name="comment" cols="70"><%=  %></textarea><br/><br/>
		<input type="submit" value="Submit">
	</form>
	<br><br>
	<% if !@comments.nil? %>
		<% @comments.each do |comment| %>
			<%= comment.comment %><br>
			by <b><%= comment.user.username %></b>
    	<% if CommentVote.find_by(comment_id: comment.id, user_id: session[:id]).nil? %>
	    	<div class="comments" data-comment-id="<%= comment.id %>">
					<button value="submit" id="buttons<%= comment.id %>">Vote</button>
				</div>
			<% end %><%= comment.comment_votes.count %> votes(s)	
			<br><br>
		<% end %>	
	<% end %>
</div>